$bg: rgba(36, 39, 49, 1);
$bg-form: rgba(48, 58, 83, 1);
$white: rgba(255, 255, 255, 1);
$red: rgba(255, 52, 89, 1);
$ligth-grey: rgba(255, 255, 255, 0.5);
$dark-blue: rgba(39, 45, 61, 1);
$blue: rgba(48, 46, 90, 1);
$light-blue: rgba(66, 82, 209, 1);